@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0.5em 1.5em;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

footer {
  margin: 0;
}

.calendar-container {
  display: none;
  text-align: center;
  width: 85%;
  margin: 2rem auto;
}

.calendar-container .weekdays {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  margin: 0.5rem 0;
}

.calendar-container .weekdays > * {
  font-size: 14px;
}

.calendar-container .days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  gap: 0.1rem;
}

.calendar-container .days > * {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
}

.marked {
  background: rgba(255, 0, 0, 0.2) !important;
}

.form-container {
  margin: auto;
  padding: 1.5rem 1rem;
  background: white;
}

.form-container .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  font-size: 14px;
  background: white;
}

.form-container .form-row input,
.form-container .form-row textarea {
  margin: auto;
  width: 100%;
  max-width: 600px;
  letter-spacing: 0.5px;
}

.form-container .form-row input {
  height: 35px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-style: inherit;
  padding: 0 1em;
  background: white;
  margin: auto;
}

.form-container .form-row input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

.form-container .form-row input:-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

.form-container .form-row input::-ms-input-placeholder {
  font-style: italic;
  font-size: 12px;
}

.form-container .form-row input::placeholder {
  font-style: italic;
  font-size: 12px;
}

body {
  font-family: "Karla", sans-serif;
  text-align: center;
  background: #f5f3f3;
}

.selected {
  display: block !important;
}

.no-scroll {
  overflow: hidden;
}

.violet-bg {
  background-color: #312947;
  z-index: 2;
}

.menu-desktop {
  display: none;
}

a {
  color: white;
}

header {
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6em 2em;
  background-color: #eef0f2;
}

header .logo {
  font-size: 1.8rem;
  font-weight: 700;
  width: 80%;
  line-height: 1.5;
  font-family: "Bad Script", cursive;
  text-align: left;
}

header .close,
header .hamburger {
  display: none;
}

header ul {
  padding: 2rem;
}

main {
  position: relative;
}

.menu-mobile {
  display: none;
  background: rgba(43, 39, 47, 0.9);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  z-index: 100;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.menu-mobile li {
  margin-bottom: 2rem;
}

.img-text {
  background-color: #312947;
}

.img-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 65vw;
}

.image {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.active {
  opacity: 1;
}

.main-content,
footer {
  background-color: #312947;
  color: #fafafa;
  padding: 2em;
}

.main-content .heading {
  text-align: center;
  font-weight: 200;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  display: block;
  margin: 1.8rem auto 0.6rem;
  padding: 0.5em 0;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  min-width: 150px;
}

.top-btn {
  width: 150px;
  color: white;
  border: 2px solid white;
}

.booking-btn {
  width: 60%;
  max-width: 220px;
  border: 2px solid black;
  color: black;
}

.top-btn:hover {
  background: black;
}

.text {
  text-align: center;
}

.text p {
  font-size: 14px;
}

.price-container {
  margin: 2rem;
  color: #2b272f;
}

.price-item {
  margin-top: 1.5rem;
  padding: 1em 1.5em;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8b858e;
  color: #2b272f;
}

.price-item .duration {
  color: #8b858e;
  font-size: 1.2rem;
}

.price-item .price {
  margin-top: 1em;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-item .price span {
  font-size: 2.3rem;
  font-weight: 700;
  margin-right: 0.3em;
  color: #2b272f;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.1rem;
  margin-bottom: 2rem;
}

.item {
  position: relative;
}

.item .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  color: white;
  padding-bottom: 0.3em;
  padding-left: 0.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  z-index: 2;
}

.text-container {
  background: white;
  padding: 1.5em;
}

.text-container .text {
  text-align: left;
  padding: 1em 0;
  font-size: 14px;
  line-height: 1.5;
  color: #312947;
  opacity: 0.9;
}

.text-container .personal-data {
  font-weight: bolder;
  padding: 1em 0;
}

.text-container ul {
  margin: 1.7em;
  list-style: disc;
}

.text-container a {
  color: inherit;
  font-weight: bolder;
}

footer {
  padding: 2em;
}

@media only screen and (min-width: 800px) {
  header .logo {
    width: 40%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .nav-toggle {
    display: none;
  }
  header .menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .menu-desktop a {
    color: black;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .menu-desktop {
    padding: 0;
  }
  nav .menu-desktop li {
    margin-right: 2em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bolder;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav .menu-desktop li:hover {
    text-decoration: underline;
  }
  nav .menu-desktop a {
    color: #8b858e;
  }
  .img-text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background: #312947;
  }
  .img-text .img-container {
    min-width: 60%;
    max-height: 450px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  .img-text .image {
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 450px;
  }
  .img-text .main-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .price-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 4rem 0;
  }
  .price-item-container .price-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 2rem;
  }
}
/*# sourceMappingURL=style.css.map */