@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0.5em 1.5em;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

footer {
  margin: 0;
}

.calendar-container {
  display: none;
  text-align: center;
  width: 85%;
  margin: 2rem auto;
}

.calendar-container .weekdays {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  margin: 0.5rem 0;
}

.calendar-container .weekdays > * {
  font-size: 14px;
}

.calendar-container .days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  gap: 0.1rem;
}

.calendar-container .days > * {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
}

.marked {
  background: rgba(255, 0, 0, 0.2) !important;
}

.form-container {
  margin: auto;
  padding: 1.5rem 1rem;
  background: white;
  margin-bottom: 5rem;
}

.form-container h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-container .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em 1em;
  background: white;
  position: relative;
}

.form-container .form-row label {
  position: absolute;
  top: 0;
  left: 50%;
}

.form-container .form-row input,
.form-container .form-row textarea {
  font-size: 13px;
  margin: auto;
  width: 100%;
  max-width: 600px;
  letter-spacing: 0.5px;
  font-family: inherit;
}

.form-container .form-row input {
  position: relative;
  height: 40px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 1em;
  background: white;
  margin: auto;
}

.form-container .form-row input::-webkit-input-placeholder {
  font-size: 13px;
}

.form-container .form-row input:-ms-input-placeholder {
  font-size: 13px;
}

.form-container .form-row input::-ms-input-placeholder {
  font-size: 13px;
}

.form-container .form-row input::placeholder {
  font-size: 13px;
}

.form-container .form-row input:focus {
  border-color: rebeccapurple;
}

body {
  font-family: "Karla", sans-serif;
  text-align: center;
  background: #f5f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.selected {
  display: block !important;
}

.no-scroll {
  overflow: hidden;
}

.violet-bg {
  background-color: #312947;
  z-index: 2;
}

.menu-desktop {
  display: none;
}

a {
  color: white;
}

header {
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  background-color: #e2ebf3;
}

header .logo {
  font-size: clamp(1.7rem, 5vw, 2.1rem);
  font-weight: 700;
  width: 80%;
  line-height: 1.5;
  font-family: "Bad Script", cursive;
  text-align: left;
}

header .menu {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background: rgba(43, 39, 47, 0.85);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

header .menu li {
  margin-bottom: 3rem;
}

header .menu.show {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

header .close,
header .hamburger {
  display: none;
}

header ul {
  padding: 2rem;
}

main {
  position: relative;
}

.text-container,
.price-container {
  max-width: 1100px;
  margin: 0 auto;
}

.img-text {
  background-color: #312947;
}

.img-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 65vw;
}

.image {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.active {
  opacity: 1;
}

.main-content,
footer {
  background-color: #312947;
  color: #fafafa;
  padding: 2em;
}

.main-content .heading {
  text-align: center;
  font-weight: 200;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  display: block;
  margin: 1.8rem auto 0.6rem;
  padding: 0.5em 0;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  min-width: 150px;
}

.top-btn {
  width: 150px;
  color: white;
  border: 2px solid white;
}

.booking-btn {
  width: 60%;
  max-width: 220px;
  border: 2px solid black;
  color: black;
}

.text p {
  font-size: 14px;
}

.price-container {
  margin: 4rem 2rem;
  color: #2b272f;
}

.price-item {
  margin: 1.5rem auto;
  padding: 1em 1.5em;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8b858e;
  color: #2b272f;
}

.price-item .duration {
  color: #8b858e;
  font-size: 1.2rem;
}

.price-item .price {
  margin-top: 1em;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-item .price span {
  font-size: 2.3rem;
  font-weight: 700;
  margin-right: 0.3em;
  color: #2b272f;
}

.grid-container {
  display: -ms-grid;
  display: grid;
}

.item {
  position: relative;
}

.item .description {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  color: white;
  padding-left: 0.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  z-index: 2;
}

.text-container {
  padding: 1.5em;
  line-height: 1.6;
}

.text-container .text-container-heading {
  padding: 0;
}

.text-container .text {
  margin: 1rem auto 2rem;
  max-width: 1000px;
  text-align: left;
  padding: 1em 0;
  font-size: 14px;
  color: #312947;
  opacity: 0.9;
}

.text-container .main-text {
  font-size: 16px;
}

.text-container .personal-data {
  font-weight: bolder;
  padding: 1em 0;
}

.text-container ul {
  margin: 1.7em;
  list-style: disc;
}

.text-container a {
  color: inherit;
  font-weight: bolder;
}

footer {
  margin-block: auto;
  margin-top: 2rem;
  padding: 2em;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  body {
    text-align: left;
  }
  header .logo {
    width: 40%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 2.5rem;
  }
  header .nav-toggle {
    display: none;
  }
  nav {
    padding-block: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .menu {
    all: unset;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .menu li {
    position: relative;
    list-style: none;
    margin: 0;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav .menu li::after {
    content: "";
    position: absolute;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: black;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  nav .menu li:hover::after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  nav .menu a {
    color: #8b858e;
  }
  .img-text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background: #312947;
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .img-text .img-container {
    min-width: 60%;
    max-height: 450px;
    margin: 0rem;
  }
  .img-text .image {
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 450px;
  }
  .img-text .main-content {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 1.6rem;
    line-height: 1.2;
  }
  .price-item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 4rem 0;
  }
  .price-item-container .price-item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0 2rem;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    width: 80%;
    margin: 3rem auto 0;
    -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    -ms-grid-rows: (250px)[auto-fit];
        grid-template-rows: repeat(auto-fit, 250px);
    gap: 2rem;
    margin-bottom: 1rem;
  }
  .grid-container .item {
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.4);
    max-height: 250px;
  }
  .grid-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .grid-container img:hover {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
  .big-img {
    position: fixed;
    width: 70vw;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
    opacity: 0;
    z-index: 10;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .big-img img {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 50;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .overlay {
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .overlay.active,
  .big-img.active {
    opacity: 1;
    pointer-events: all;
  }
  .price-container {
    margin: 0 auto;
    padding: 0;
  }
  .text-container,
  .price-container {
    text-align: left;
    margin-top: 3rem;
    padding: 0 10%;
  }
  .price-container h3 {
    font-size: 1.5rem;
  }
  .price-container p {
    text-align: left;
  }
  .text-container .text {
    text-align: left;
  }
  .price-item-container {
    gap: 1.5rem;
  }
  .price-item-container .price-item {
    margin: 0;
  }
  .top-btn:hover {
    background: black;
  }
  .booking-btn:hover {
    background: #2b272f;
    color: white;
  }
}
/*# sourceMappingURL=style.css.map */