@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0.5em 1.5em;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}

footer {
  margin: 0;
}

.calendar-container {
  display: none;
  text-align: center;
  width: 85%;
  margin: 2rem auto;
}

.calendar-container .weekdays {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  margin: 0.5rem 0;
}

.calendar-container .weekdays > * {
  font-size: 14px;
}

.calendar-container .days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  gap: 0.1rem;
}

.calendar-container .days > * {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
}

.marked {
  background: rgba(255, 0, 0, 0.2) !important;
}

body {
  font-family: "Karla", sans-serif;
  background-color: #eef0f2;
  text-align: center;
}

.active {
  display: block !important;
}

.no-scroll {
  overflow: hidden;
}

header {
  position: relative;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 2em;
  background-color: #eef0f2;
}

header .logo {
  font-size: 2.3rem;
  font-weight: 700;
  width: 70%;
  line-height: 1.5;
  font-family: "Bad Script", cursive;
  text-align: center;
}

header .close,
header .hamburger {
  display: none;
}

header ul {
  padding: 2rem;
  color: white;
}

header li a {
  color: white;
}

header .menu {
  display: none;
  top: 142.4px;
  left: 0;
  bottom: 0;
  position: fixed;
  background: #2b272f;
  width: 100%;
  height: 100vh;
  z-index: 100;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 3rem;
}

header .menu li {
  margin-bottom: 2rem;
}

.img-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 65vw;
}

.image {
  position: absolute;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  max-width: 850px;
}

.active {
  opacity: 1;
}

.main-content {
  background-color: #312947;
  color: #fafafa;
  padding: 2em;
}

.main-content .heading {
  text-align: center;
  font-weight: 200;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  display: block;
  margin: 1.8rem auto 0.6rem;
  padding: 0.5em 0;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  min-width: 150px;
}

.top-btn {
  width: 150px;
  color: white;
  border: 2px solid white;
}

.booking-btn {
  width: 60%;
  max-width: 300px;
  border: 2px solid black;
  color: black;
}

.top-btn:hover {
  background: black;
}

.text {
  text-align: center;
}

.text p {
  font-size: 14px;
}

.price-container {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2b272f;
}

.price-container > * + * {
  margin-top: 1.5rem;
}

.price-item {
  padding: 1em 1.5em;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ada4b2;
  color: #2b272f;
}

.price-item .duration {
  color: #ada4b2;
  font-size: 1.2rem;
}

.price-item .price {
  margin-top: 1em;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-item .price span {
  font-size: 2.3rem;
  font-weight: 700;
  margin-right: 0.3em;
  color: #2b272f;
}

.item {
  position: relative;
}

.item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.item .description {
  display: inline-block;
  color: white;
  position: absolute;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  left: 1rem;
  bottom: 1rem;
  z-index: 2;
}

.form-container {
  padding-top: 2rem;
  background: #fafafa;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 3em;
  font-size: 14px;
}

.form-row label {
  font-weight: 700;
  width: 20%;
}

.form-row input {
  width: 100%;
  height: 35px;
  outline: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fafafa;
  font-style: inherit;
  padding: 0 1em;
}

@media only screen and (min-width: 700px) {
  .price-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */