*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0.5em 1.5em;
  transition: background 0.2s, color 0.2s;
}
footer {
  margin: 0;
}
