@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import "abstracts";
@import "calendar";

$dark-violet: hsl(256, 27%, 22%);
$grayish-blue: hsl(210, 40%, 92%);
$vdark-violet: hsl(270, 9%, 17%);
$dark-gr-violet: hsl(280, 4%, 54%);
$vdark-light-gray: hsl(0, 0%, 98%);
$darker-white: rgb(245, 243, 243);

$dk-dark-bg-blue: hsl(230, 17%, 14%);
$dk-dark-topBG-blue: hsl(232, 19%, 15%);
$dk-darkdes-blue: hsl(228, 28%, 20%);
$dk-des-blue: hsl(228, 34%, 66%);

@import "form";

body {
  font-family: "Karla", sans-serif;
  // background-color: $grayish-blue;
  text-align: center;
  background: $darker-white;
  display: flex;
  flex-direction: column;
}

.selected {
  display: block !important;
}

.no-scroll {
  overflow: hidden;
}

.violet-bg {
  background-color: $dark-violet;
  z-index: 2;
}

.menu-desktop {
  display: none;
}

a {
  color: white;
}

header {
  position: relative;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: $grayish-blue;
  }
  .logo {
    font-size: clamp(1.7rem, 5vw, 2.1rem);
    font-weight: 700;
    width: 80%;
    line-height: 1.5;
    font-family: "Bad Script", cursive;
    text-align: left;
  }

  .menu {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background: rgba($vdark-violet, 0.85);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3rem;
    transition: opacity 0.3s;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;

    li {
      margin-bottom: 3rem;
    }
  }

  .menu.show {
    transform: scaleY(1);
  }

  .close,
  .hamburger {
    display: none;
  }

  ul {
    padding: 2rem;
  }
}

//
// Main-styling
//
main {
  position: relative;
}
.text-container,
.price-container {
  max-width: 1100px;
  margin: 0 auto;
}

.img-text {
  background-color: $dark-violet;
}

.img-container {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: 65vw;
}

.image {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 1s;

  // max-width: 850px;
}

.active {
  opacity: 1;
}

.main-content,
footer {
  background-color: $dark-violet;
  color: $vdark-light-gray;
  padding: 2em;
}

.main-content {
  .heading {
    text-align: center;
    font-weight: 200;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  display: block;
  margin: 1.8rem auto 0.6rem;
  padding: 0.5em 0;
  font-family: inherit;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.2s;
  min-width: 150px;
}

.top-btn {
  width: 150px;
  color: white;
  border: 2px solid white;
}

.booking-btn {
  width: 60%;
  max-width: 220px;
  border: 2px solid black;
  color: black;
}

.text {
  p {
    // text-align: left;
    font-size: 14px;
  }
}
.price-container {
  margin: 4rem 2rem;
  color: $vdark-violet;
}

.price-item {
  margin: 1.5rem auto;
  padding: 1em 1.5em;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-gr-violet;
  color: $vdark-violet;

  .duration {
    color: $dark-gr-violet;
    font-size: 1.2rem;
  }
  .price {
    margin-top: 1em;
    font-size: 1rem;
    display: flex;
    align-items: center;

    span {
      font-size: 2.3rem;
      font-weight: 700;
      margin-right: 0.3em;
      color: $vdark-violet;
    }
  }
}

.grid-container {
  display: grid;
  // grid-gap: 0.3rem;
  // margin-bottom: 2rem;
}

.item {
  position: relative;
  .description {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    color: white;
    // padding-bottom: 0.3em;
    padding-left: 0.5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    z-index: 2;
  }
}

.text-container {
  // background: $grayish-blue;
  padding: 1.5em;
  line-height: 1.6;
  .text-container-heading {
    padding: 0;
  }
  .text {
    margin: 1rem auto 2rem;
    max-width: 1000px;
    text-align: left;
    padding: 1em 0;
    font-size: 14px;
    color: $dark-violet;
    opacity: 0.9;
  }

  .main-text {
    font-size: 16px;
  }

  .personal-data {
    font-weight: bolder;
    padding: 1em 0;
  }
  ul {
    margin: 1.7em;
    list-style: disc;
  }
  a {
    color: inherit;
    font-weight: bolder;
  }
}

footer {
  margin-block: auto;
  margin-top: 2rem;
  padding: 2em;
  text-align: center;
}

.overlay {
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

@media only screen and (min-width: 800px) {
  body {
    text-align: left;
  }
  header {
    .logo {
      width: 40%;
      flex: 1;
      font-size: 2.5rem;
    }
    .nav-toggle {
      display: none;
    }
  }

  nav {
    padding-block: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      all: unset;
      padding: 0;
      display: flex;
      align-items: center;
      li {
        position: relative;
        list-style: none;
        margin: 0;
        margin-right: 2em;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bolder;
        transition: 0.3s;
        &::after {
          content: "";
          position: absolute;
          transform: scaleX(0);
          left: 0;
          right: 0;
          bottom: 0;
          height: 1px;
          background: black;
          transition: transform 0.3s;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
      a {
        color: $dark-gr-violet;
      }
    }
  }

  .img-text {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    background: $dark-violet;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    .img-container {
      min-width: 60%;
      max-height: 450px;
      margin: 0rem;
    }
    .image {
      object-fit: cover;
      max-height: 450px;
    }
    .main-content {
      flex: 1;
      font-size: 1.6rem;
      line-height: 1.2;
    }
  }

  .price-item-container {
    display: flex;
    justify-content: space-around;
    margin: 4rem 0;

    .price-item {
      flex: 1;
      margin: 0 2rem;
    }
  }

  .grid-container {
    display: grid;
    width: 80%;
    margin: 3rem auto 0;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-template-rows: repeat(auto-fit, 250px);
    gap: 2rem;
    margin-bottom: 1rem;
    .item {
      position: relative;
      transition: transform 0.2s;
      cursor: pointer;
      box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.4);
      max-height: 250px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s;
      &:hover {
        transform: scale(1.08);
      }
    }
  }
  .big-img {
    position: fixed;
    width: 70vw;
    height: 80vh;
    // background: red;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    pointer-events: none;
    opacity: 0;
    z-index: 10;
    transition: opacity 0.3s;
    img {
      position: absolute;
      top: 2rem;
      right: 2rem;
      z-index: 50;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }

  .overlay {
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .overlay.active,
  .big-img.active {
    opacity: 1;
    pointer-events: all;
  }

  .price-container {
    margin: 0 auto;
    padding: 0;
  }
  .text-container,
  .price-container {
    text-align: left;
    margin-top: 3rem;
    padding: 0 10%;
  }
  .price-container {
    h3 {
      font-size: 1.5rem;
    }
    p {
      text-align: left;
    }
  }

  .text-container {
    .text {
      text-align: left;
    }
  }
  .price-item-container {
    gap: 1.5rem;
    .price-item {
      // padding: 0;
      margin: 0;
    }
  }

  .top-btn:hover {
    background: black;
  }

  .booking-btn:hover {
    background: $vdark-violet;

    color: white;
  }
}
